@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-xl font-bold;
  }
  h3 {
    @apply text-base text-h3 font-bold;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer components {
  .col-main {
    @apply bg-primary max-w-3xl border md:ml-64;
  }
  .page-container {
    @apply no-scrollbar overflow-scroll h-screen w-full min-h-screen flex flex-col items-center pt-12 md:pt-20;
  }
  .page-inner-container {
    @apply w-full md:max-w-3xl flex flex-col items-center rounded-3xl my-5 px-5 lg:px-10;
  }
  .card {
    @apply w-full min-w-[350px] md:w-[700px] md:min-h-[325px] flex flex-col justify-center rounded-3xl px-4 sm:px-8 md:px-10 py-6 mb-6 md:mb-8 bg-component-light dark:bg-component-dark h-max;
  }
  .cta-button {
    @apply hover:scale-105 transition-transform rounded-full cursor-pointer bg-primary font-bold text-white px-4 py-2;
  }
  .text-button {
    @apply text-primary font-bold cursor-pointer w-fit;
  }
  .input {
    @apply outline-none text border-b border-primary pb-1 mb-1 bg-fill-light dark:bg-fill-dark w-full;
  }
  .input-error {
    @apply text-primary font-bold text-sm;
  }
  .input-name {
    @apply font-bold text-h3 text-sm;
  }
  .text {
    @apply font-normal text-base text-black dark:text-white;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
}

.searchWrapper {
  border: none !important;
  border-radius: 0px !important;
  padding: 0 !important;
  margin: 0 !important;
}

.multiSelectContainer input {
  width: 80px !important;
}

.optionListContainer {
  background-color: #999999 !important;
  color: white;
  font-weight: bold !important;
}

.chip {
  background-color: red !important;
  font-weight: bold !important;
  font-size: 14px !important;
}

.option:hover {
  background-color: red !important;
}

.highlight {
  background-color: red !important;
}
